@model TaskDB.Models.ApplicationUser
@{
    ViewBag.Title = "ConfirmEmail_repeat";
}

<h2>ConfirmEmail_repeat</h2>

@using (Html.BeginForm("ConfirmEmail_repeat", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Введите ваш Email</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(x => x.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
        </div>
    </div>
    <input type="submit" class="btn btn-default" value="Отправить" />
}


